<!DOCTYPE html>
<html>
	<head>
		<title>Jabberwiki</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Fresca|Ubuntu" rel="stylesheet">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="nav nav-tabs">
			<div>
				<%= link_to (image_tag "happy-man.png", class: "logo"), root_path %>
	            <%= link_to "Wikis", wikis_path, class: "nav-links" %>
	        </div>
            <div class="user-status">
            	<% if user_signed_in? %>
					Signed in as: <strong><%= link_to current_user.email, edit_user_registration_path %></strong>
<!-- 					<%= link_to 'Profile', edit_user_registration_path, class: 'nav-links' %>
 -->					<%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-links' %>
				<% end %>
            </div>
        </div>

		<% if flash[:notice] %>
			<div class="alert alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<%= flash[:notice] %>
			</div>
		<% elsif flash[:alert] %>
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<%= flash[:alert] %>
			</div>
		<% end %>

		<%= yield %>

	</body>
</html>
